.hamrocsit_adb_admin {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%);
  border-radius: 3px;
  overflow: hidden;
}
.hamrocsit_adb_about-wrap {
  position: relative;
  margin: 25px 40px 0 20px;
  max-width: 1050px;
  font-size: 15px;
}
.hamrocsit_adb_top-section {
  display: flex;
  align-items: center;
  position: relative;
}
.hamrocsit_adb_top-section:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ececec;
  position: absolute;
  bottom: 0;
}
.hamrocsit_adb_logo {
  width: 75px;
  z-index: 1;
  margin: 0;
  height: auto;
  vertical-align: middle;
  border: none;
  margin: 3px;
}
.hamrocsit_adb_content {
  padding: 0 20px;
}
.hamrocsit_adb_content h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 7px;
}
.hamrocsit_adb_content span {
  font-size: 12px;
}
.hamrocsit_adb_version {
  padding-left: 20px;
  font-size: 14px;
  position: absolute;
  right: 20px;
}
.hamrocsit_adb_nav-tab {
  border: none;
  background: 0 0;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  float: left;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-left: 0.5em;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.71428571;
  font-weight: 600;
  background: #e5e5e5;
  color: #555;
  text-decoration: none;
  white-space: nowrap;
}
.hamrocsit_adb_nav-tab-wrapper {
  position: relative;
}
.hamrocsit_adb_nav-tab-wrapper a {
  float: right;
  float: right;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  padding: 0.3rem 2rem;
}
.hamrocsit_adb_nav-tab-wrapper a.pro {
  background: #ee0909;
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
  background: linear-gradient(to right, #ff6a00, #ee0979);
}
.hamrocsit_adb_nav-tab-wrapper a:not(.pro) {
  background: #ee0909;
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
  background: linear-gradient(to right, #ff6a00, #ee0979);
}
.container {
  width: 100%;
  padding: o 15px;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }
}
.hamrocsit_adb_admin h1.title {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 0.6rem;
  margin-bottom: 3px;
}
.hamrocsit_adb_content-setion {
  padding: 1rem;
}
.settings_form {
  padding: 1rem;
  border: 1px solid #bbb;
  background: #eee;
  margin: 20px;
  min-height: 30px;
  position: relative;
}
.checkbox_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px;
}
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox_container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ff000032;
  border-radius: 3px;
}
.checkbox_container:hover input ~ .checkmark {
  background-color: #ff0000;
}
.checkbox_container input:checked ~ .checkmark {
  background-color: #ff0000;
}
.checkbox_container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox_container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox_container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
table#hamrocsit_adb_table {
  border-collapse: collapse;
  width: 73%;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%);
  border-radius: 3px;
}
#hamrocsit_adb_table td,
#hamrocsit_adb_table th {
  border: 1px solid #ddd;
  padding: 10px;
}
#hamrocsit_adb_table tr:nth-child(even) {
  cursor: pointer;
}
#hamrocsit_adb_table tr:hover {
  cursor: pointer;
}
#hamrocsit_adb_table th {
  padding: 15px 10px;
  text-align: left;
  background: #ee0909;
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
  background: linear-gradient(to right, #ff6a00, #ee0979);
  color: #fff;
  text-transform: uppercase;
}
table#hamrocsit_adb_table input.chpabd_form_settings,
table#hamrocsit_adb_table textarea.chpabd_form_settings {
  width: 60%;
  resize: none;
}
.chp_ads_button_row {
  margin: 2rem 0;
  text-align: center;
}
.theme_selection img {
  width: 150px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}
.theme_selection img.active {
  border-color: red;
}
body .chp_ads_button_row .button-primary,
body .chp_ads_button_row .button-secondary:hover {
  border-color: red;
  background-color: red;
  color: #fff;
  transition: 0.3s;
}

body .chp_ads_button_row .button-secondary,
body .chp_ads_button_row .button-primary:hover {
  border-color: red;
  color: red;
  transition: 0.3s;
  background-color: transparent;
}

body .chp_ads_button_row .button {
  border-radius: 0;
  padding: 0.1rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: monospace;
}

.toplevel_page_chp-adsblocker-detector ul{
  background: #ffe5e5;
}

.toplevel_page_chp-adsblocker-detector ul li:last-child a{
  font-weight: bold;
  color: #ff7070;
}